<h3 class="text-white">Recommendations</h3>
<section class="recommendation-grid">
    <article (click)="onMovieSelected(movie)" class="recommendation-item" *ngFor="let movie of recommendations">
        <img class="img-backdrop"
            [src]="movie?.backdrop_path ? 'https://image.tmdb.org/t/p/original'+ movie.backdrop_path : '/assets/images/slider_placeholder.svg'">
        <section class="text-grid">
            <article>
                <span class="text-title">{{movie.title}}</span>
                <span class="text-sub ml-10">{{movie?.release_date | date : 'yyyy'}}</span>
            </article>
            <span class="sub-text">{{movie.original_title}}</span>
        </section>
    </article>
</section>