@import './../../../../../../assets/less/_variables.less';

@padding : 50px 100px 100px 100px;

:host {
    position  : fixed;
    top       : 0;
    left      : 0;
    width     : @fill;
    height    : @fill;
    padding   : @padding ;
    z-index   : 10;
    background: @theme_dark_color;
    text-align: end;
}

section {
    height: @fill;
}

.fi {
    font-size: 30px;
}

@media (max-width:320px) {

    /* smartphones, iPhone, portrait 480x320 phones */
}

@media (max-width:481px) {

    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}


@media (max-width:641px) {

    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    :host {
        padding: 10px 10px 100px 10px;
    }
}

@media (max-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (max-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (max-width:1281px) {
    /* hi-res laptops and desktops */
}